.map_export{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 500;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin-right:5px;
    margin-top: 0;
    background-color: #fff;
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

button.map_export{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 500;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    box-sizing: border-box;
    text-transform: none;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    margin-right: 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.map_export:hover {
    background-color: rgba(0,0,0,.04);
}

button.map_export:hover {
    background-color: rgba(0,0,0,.04);
}

.icon {
    position: absolute;
    top: 300px;
    left: 30px;
    color: rgb(155, 151, 151);
}

.map-select-style {
    /* display: block; */
    font-size: 12px;
    font-family: "Helvetica";
    font-weight: 600;
    color: #444;
    line-height: 1.3;
    position: relative;
    padding: .6em 1.4em .5em .8em;
    width: 10%;
    height: 3%;
    margin-top: 0px;
    /* max-width: 100%;  */
    box-sizing: border-box;
    margin-right: 5px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.map-select-style::-ms-expand {
    display: none;
}
.map-select-style:hover {
    border-color: #888;
}
.map-select-style:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 1px #1890ff;
    box-shadow: 0 0 0 1px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.map-select-style option {
    font-weight:normal;
}
/* styling for map legends */
.mapColorLegendContainer ul.MuiList-root.legend:not(.seasonal_forecast){ 
    padding-top: 10px;
}

.mapColorLegendContainer ul.MuiList-root.legend_text:not(.seasonal_forecast){
    padding-top: 0;
}

.map-overlay {
    position: absolute;
    bottom: 0;
    left: 40%;
    background: rgba(255, 255, 255, 2);
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
}

#features {
    top: 0;
    height: 4.5%;
    margin-top: 0.5%;
    width: '100%';
    display: flex;
    flex-wrap: wrap;
    font-family: "system font";
    font-weight: 'bold';
    font-size: x-large;
    color: black;
    padding-top: 1%;
    padding-right: 1%;
    padding-left: 1%;
}

.map-overlay-legend {
    position: absolute;
    left: 1%;
    background: rgba(255, 255, 255, 2);
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
}
table.cell-info{
    width: 100%;
}
table.cell-info th{
    width: 40%;
}
table.cell-info td{
    width: 60%;
}
#legend {
    top: 0;
    height: auto;
    margin-top: 15%;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    font-family: "Amatic SC";
    font-weight: 'bold';
    font-size: x-large;
    color: black;
    padding-top: 1%;
    padding-right: 1%;
    padding-left: 1%;
}

.map-overlay-menu {
    position: absolute;
    top: 0;
    right: 0%;
    background: rgba(255, 255, 255, 2);
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
    width: 7.5%;
    height: 55%;
}

.map-overlay-chart {
    position: absolute;
    background: rgba(255, 255, 255, 2);
    font-family: Arial, sans-serif;
    overflow: auto;
    bottom:0%;
    border-radius: 3px;
    width: 80%;
    height: auto;
    right:0;
    margin-bottom :2%;
}

#chart {
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
}


.mapboxgl-canvas-container {
    height: 100vh;
}

.mapboxgl-ctrl-top-left{
    z-index: 0;
}

.mapboxgl-ctrl-top-right{
    z-index: 0;
}

.mapboxgl-ctrl-bottom-left{
    z-index: 0;
}

.mapboxgl-ctrl-bottom-right{
    z-index: 0;
}

.picker-loadingstatusbox{
    z-index: 99;
}

.MuiOutlinedInput-notchedOutline {
    border-color: #fff;
}
 .MuiSelect-icon {
    color: #fff;
}
.MuiInputLabel-root {
    color: #fff;
}

.MuiInputBase-root {
    columns: #000000;
}

.MuiSelect-nativeInput {
    color: #000000;
}

.slick-prev:before,
.slick-next:before {
    color:#D7B062!important;
}